<div class="col-sm-12 col-md-6 col-lg-6">
	<div class="homebox"><img class="homeimg_work blur" id="workimg" src="/images/view/rsz_kula_login.jpg"/><div class="homecap">Check out some of my past projects</div>
	</div>

	<div class="homebox"><img class="homeimg_work blur" style="top: -30px" id="aboutimg" src="/images/trumpet.jpg"  /><div class="homecap">Learn a little more about me as a person</div>
	</div>

	<div class="homebox"><img class="homeimg_work blur" id="resumeimg" src="/images/resume-small.png"  /><div class="homecap">View and download a copy of my resum&#233;</div>
	</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 timeline-container">
<a class="twitter-timeline" height="732" href="https://twitter.com/KackJohn" data-widget-id="530475867428769792">Tweets by @KackJohn</a>
</div>
<script src="/javascript/homeimagebox.js"></script>
<script>
	$("#home-nav").addClass("active");
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>