.navbar-contact {
	padding-right: 15px;
}

.container-adjusted {
	margin-top: 90px;
}

.navbar li a {
	font-size: 12px !important;
}
.hometext {	width: 444px;border-right: 1px solid #3e3f3a;float:left;padding-left:20px;}
.homeimg_work {	cursor: pointer;width: 100%;position: absolute; -webkit-backface-visibility: hidden;}
.blur {	opacity: .4;}
.homebox {
	overflow: hidden;
	position: relative;
	z-index: 2;
	height: 240px;
	font-size: 16px;
	padding-top: 0 !important;
	color: black;
	margin-bottom: 5px;
	margin-top: 0 !important;
	width: 100%;
}
.homecap {
	position: relative;
	top: 190px;
	padding-left: 24px;
	width: 100%;
	background-color: #3e3f3a;
	color: #98978b;
	font-size: 16px;
	padding-bottom: 6px;
	padding-top: 2px;
	padding-right: 12px;
	min-height: 50px;
}

/*.timeline { border-radius: 0 !important; }*/

.timeline-container {
	text-align: center;
}

.thm-dark {
	color: #a9a9a9;
	background-color: #3e3f3a !important;
}

.about-title {

}

.about-info {
	height: 300px;
	font-size: 16px;
	padding-top: 20px;
	width: 100%;
}

.img-work {
	float: right;
	height: 140px;
}

.img-amazon {
	height: 180px !important;
}